

html{

}
h1{
	color:#e63946;
	text-align:center;
	font-size:40px;
	margin-top:30px;
	font-family: Calibri;
}
h2{
	color:#e63946;
	text-align:center;
	font-size: 30px;
	margin-top:20px;
	font-family: Calibri;
}
h3{
	color:#e63946;
	text-align:center;
	font-size: 25px;
	margin-top:20px;
	font-family: Calibri;
}
.topnav {
  overflow: hidden;
  background-color: #1d3557;
	text-align:center;
	top:0;
	position:fixed;
}
.sidenav {
	height:80%;
	width:240px;
	position:fixed;
	z-index:-1;
	left:5;
background-color:#457b9d;
overflow-x:hidden;
}
.topnav  a{
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 30px;
 text-decoration: none;
  font-size: 50px;
}

.topnav a.active {
  background-color: #e63946;
  color: white;
}


.sidenav a{
	margin-top:30px;
padding: 6px 8px 6px 16px;
text-decoration: none;
font-size:25px;
color:white;
display:block;
}
.main{
margin-top:50px;
margin-left:250px;
}
.pics{
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}